@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<FluentButton Text="Click me" OnClick="ClickMe" >アラートメッセージ</FluentButton>

@code{
    private async Task ClickMe()
    {
        await ((Application)app).Windows[0].Page!.DisplayAlert("クリック","クリックされました。" , "OK");
    }
}