<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">出退勤管理</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employeelist">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 社員リスト
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 設定
            </NavLink>
        </div>
    </nav>
</div>
